.header {
  background-color: #2f4ab3;
  color: white;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  position: relative;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.user-section {
  position: relative;
  cursor: pointer;
}

.avatar {
  background-color: white;
  color: #2f4ab3;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropdown button {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f2f2f2;
}
