.signup-card {
  max-width: 550px;
  margin: 80px auto;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #2f4ab3;
  outline: none;
}
.form-input-wrapper {
  position: relative;
}
.form-input-wrapper  input {
  width: 100%;
  padding-right: 2rem;
  box-sizing: border-box;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  position: relative;
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  background-color: #f8f9fc;
  outline: none;
  transition: border 0.3s;
}

input:focus {
  border-color: #3f51b5;
  background-color: #fff;
}

.submit-btn {
  /*width: 100%;*/
  padding: 10px 40px;

  background-color: #2f4ab3;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #1f3691;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-link-wrapper {
  margin-top: 1.5rem;
  font-size: 14px;
}

.login-link-wrapper a {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.login-link-wrapper a:hover {
  text-decoration: underline;
}
.eye-icon {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.1rem;
  user-select: none;
  color: #666;
}
