<mat-card class="signup-card">
  <h2 class="title">Create Account</h2>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"  autocomplete="off">
    <div class="form-group">
      <div class="form-input-wrapper">
        <input type="text" id="email" formControlName="name" placeholder="name" autocomplete="new-name"/>
      </div>
    </div>

    <div class="form-group">
      <div class="form-input-wrapper">
      <input type="email" placeholder="Email" formControlName="email" autocomplete="new-email"/>
      </div>
    </div>

    <div class="form-group">
      <div class="form-input-wrapper">
      <input  [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password" autocomplete="new-password"/>
        <span class="eye-icon" (click)="togglePasswordVisibility()">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </span>
      </div>
    </div>

    <div class="form-group">
      <div class="form-input-wrapper">
      <input [type]="showConfirmPassword ? 'text' : 'password'"placeholder="Confirm Password" formControlName="confirmPassword" autocomplete="new-confirmpassword"/>
        <span class="eye-icon" (click)="toggleConfirmPasswordVisibility()">
            <i class="bi" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </span>
      </div>
    </div>

    <div class="error-message" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <button type="submit" class="submit-btn">Sign Up</button>
  </form>

</mat-card>
